.listStyle{
    text-align: center;
    padding-top: 50px;
    color: Green;
}

.tableContent{
    border: 2px solid black;
    
}

#tableContent{
color: brown;


}

#wholeTable{
 
    margin-left: 625px;
}